@model WarriorsGuild.Models.Account.IndexViewModel
@{
	ViewBag.Title = "Account";
}
@using WarriorsGuild.Utilities 
<section>
	<div class="container">
		<h2>@ViewBag.Title</h2>

		<p class="text-success">@ViewBag.StatusMessage</p>
		<div>
			<hr />
			<dl class="dl-horizontal">
				<dt>Profile:</dt>
				<dd>
					[
					@Html.ActionLink("Update", "EditProfile")
					]
				</dd>
				@if ((User.IsInRole("Guardian") || User.IsInRole("Admin")) && (!ViewBag.HasActiveSubscription || ViewBag.IsPayingParty))
				{
					<dt>Subscription:</dt>
					<dd>
						[
						@Html.ActionLink("Purchase/Manage", "Subscription")
						]
					</dd>
					<dt>Warrior(s):</dt>
					<dd>
						[
						@Html.ActionLink("Add/Manage", "ManageProfiles")
						]
					</dd>
				}
				<dt>Password:</dt>
				<dd>
					[
					@if (Model.HasPassword)
					{
						@Html.ActionLink("Change your password", "ChangePassword")
					}
					else
					{
						@Html.ActionLink("Create", "SetPassword")
					}
					]
				</dd>
				@*<dt>External Logins:</dt>
					<dd>
						@Model.Logins.Count [
						@Html.ActionLink( "Manage", "ManageLogins" ) ]
					</dd>*@
				@*
					Phone Numbers can used as a second factor of verification in a two-factor authentication system.

					 See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
						for details on setting up this ASP.NET application to support two-factor authentication using SMS.

					 Uncomment the following block after you have set up two-factor authentication
				*@
				@*
					<dt>Phone Number:</dt>
					<dd>
						@(Model.PhoneNumber ?? "None")
						@if (Model.PhoneNumber != null)
						{
							<text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
							using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
							{
								@Html.AntiForgeryToken()
								<text>[<input type="submit" value="Remove" class="btn-link" />]</text>
							}
						}
						else
						{
							<text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")&nbsp;&nbsp;]</text>
						}
					</dd>
				*@
				<!--<dt>Two-Factor Authentication:</dt>
				<dd>
					<p>
						There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
						for details on setting up this ASP.NET application to support two-factor authentication.
					</p>-->
				@*@if (Model.TwoFactor)
					{
						using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
						{
							@Html.AntiForgeryToken()
							<text>Enabled
							<input type="submit" value="Disable" class="btn btn-link" />
							</text>
						}
					}
					else
					{
						using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
						{
							@Html.AntiForgeryToken()
							<text>Disabled
							<input type="submit" value="Enable" class="btn btn-link" />
							</text>
						}
					}*@
				<!--</dd>-->
			</dl>
		</div>
	</div>
</section>
@section Scripts{
	<environment exclude="Development">
		<script src="@Url.ContentVersioned("/bundles/knockout.js")" defer></script>
		<script src="@Url.ContentVersioned("/bundles/manage.js")" defer></script>
	</environment>
	<environment include="Development">
		<script src="@Url.ContentVersioned("/bundles/knockout.js")" defer></script>
		<script src="@Url.ContentVersioned("/Scripts/main.js")" defer></script>
		<script src="@Url.ContentVersioned("/lib/sammy.js/sammy.min.js")" defer></script>
		<script src="@Url.ContentVersioned("/lib/jqueryui/jquery-ui.min.js")" defer></script>
		<script src="@Url.ContentVersioned("/Scripts/app/common.js")" defer></script>
		<script src="@Url.ContentVersioned("/Scripts/app/app.datamodel.js")" defer></script>
		<script src="@Url.ContentVersioned("/Scripts/app/app.viewmodel.js")" defer></script>
		<script src="@Url.ContentVersioned("/Scripts/app/_run.js")" defer></script>
	</environment>
}